---
title: While's Blog
description: Here is my blog.
---

{% include header.html body_class="home-template" %}
	<header id="site-head">
		<div class="vertical">
			<div id="site-head-content" class="inner">
				<h1 class="blog-title">{{ page.title }}</h1>
				<h2 class="blog-description">{{ page.description }}</h2>
			</div>
		</div>
	</header>

	<main role="main" class="content">

		{% for post in site.posts %}
		<article class="post">
			<header class="post-header">
				<span class="post-meta">
					<time datetime="{{ post.date | date: '%Y-%m-%-d' }}">{{ post.date | date_to_string }}</time> on tag_1, tag_2
				</span>
				<h2 class="post-title"><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
			</header>
			<section class="post-excerpt">
				<p>{{ post.excerpt | strip_html }}</p>
			</section>
		</article>
		{% endfor %}
		
		<!-- 
		<nav role="pagination" class="pagination">
			<a href="/" class="newer-posts">←</a>
			<span class="page-number">2 | 3</span>
			<a href="/page/3/" class="older-posts">→</a>
		</nav>
		-->
		
	</main>
{% include footer.html %}