---
description: 生活，是毅种循环
---

{% include header.html body_class="home-template" %}
	<header id="site-head">
		<div class="vertical">
			<div class="inner">
				<h1 class="blog-title">{{ site.base_title }}</h1>
				<h2 class="blog-description">{{ page.description }}</h2>
				<div id="search-form">
					<input class="search-input" type="search">
					<a class="search-button" href="javascript:;"><span class="icon-search"></span></a>
				</div>
			</div>
		</div>
	</header>

	<main role="main" class="content">

		{% for post in paginator.posts %}
		<article class="post">
			<header class="post-header">
				<span class="post-meta">
					<time datetime="{{ post.date | date: '%Y-%m-%-d' }}">{{ post.date | date_to_string }}</time>
					{% if post.tags.size > 0 %}
						on {{ post.tags | join: ', '}}
					{% endif %}
				</span>
				<h2 class="post-title"><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
			</header>
			<section class="post-excerpt">
				<p>{{ post.excerpt | strip_html }}</p>
			</section>
		</article>
		{% endfor %}
		
		<nav role="pagination" class="pagination">

			{% if paginator.previous_page %}
			<a class="newer-posts" href="{{ site.base_url }}{{ paginator.previous_page_path }}">←</a>
			{% endif %}

			<span class="page-number">{{ paginator.page }} | {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
			<a class="older-posts" href="{{ site.base_url }}{{ paginator.next_page_path }}">→</a>
			{% endif %}

		</nav>
		
	</main>
{% include footer.html %}