	<footer class="site-footer">
		<div class="inner">
			<!-- <ul class="categories">
				-
				<li><a href="{{ site.base_url }}/coding">coding</a></li>
				<li><a href="">living</a></li>
				<li><a href="">performing</a></li>
				-
			</ul> -->
			<section class="copyright">All content copyright <a href="{{ site.base_url }}">While's Blog</a> © 2015 • All rights reserved.</section>
			<section class="poweredby">Powered by <a href="https://github.com/">Github</a></section>
		</div>
	</footer>
</body>
</html>
		