<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.base_title }}</title>

	<link rel="stylesheet" href="{{ site.base_url }}/css/main.css">
	<style>
		/* cover */
		@media only screen and (max-width: 1399px) {
			#site-head{
				background-image: url({{ site.cover_l }});
			}
		}
		@media only screen and (min-width: 1400px) {
			#site-head{
				background-image: url({{ site.cover_s }});
			}
		}
	</style>
	<!-- highlight.js -->
	<link rel="stylesheet" href="{{ site.base_url }}/css/monokai_sublime.css">
	<script src="{{ site.base_url }}/js/highlight.pack.js"></script>
	<script>
		hljs.configure({tabReplace: '    '}); // 4 spaces
		hljs.initHighlightingOnLoad();
	</script>

</head>
<body class="{{ include.body_class }}">