{% include header.html body_class="post-template" %}
	<main class="content" role="main">

		<section class="post">
			
			<header class="post-header">
	            <a id="blog-logo" href="{{ site.base_url }}">{{ site.base_title }}</a>
	        </header>

			category: {{page.category}}
			
			<!-- http://www.minddust.com/post/tags-and-categories-on-github-pages/ -->
			<!-- working -->
	        //- {% for post in site.tags[page.tag] %}
	        //-     <a href="{{ post.url }}/">{{ post.title }}</a>
	        //- {% endfor %}
			<!-- working -->

		</section>

	</main>
{% include footer.html %}